{% if section.settings.show_elcat_landing_calculator_section == true %}

  <section class="calculator_sec" id="roi">
  
    <div class="body-width">
      <div class="row">
        <div class="col-md-12">
          <div class="calculator_div">
            
               <iframe src="https://app.calconic.com/api/embed/calculator/65a95cca24ad80002975299b" sandbox="allow-same-origin allow-forms allow-scripts allow-top-navigation allow-popups-to-escape-sandbox allow-popups" title="Calconic_ Calculator" name="Calconic_ Calculator" height="925px" scrolling="no" style="width: 100%; border: 0; outline: none;"></iframe>
                <script>
                  (function() {
                    window.addEventListener("message",function(t){
                      var e="https://www.paypalobjects.com/api/checkout.4.0.141.js";
                      if(!document.querySelector('script[src="'+e+'"]')&&t.data&&"LOAD_PAYPAL"===t.data.action){
                      var a=document.createElement("script");a.src=e,a.async=!0,a.dataset={paypalCheckout:!0,noBridge:!0,state:"ppxo_meta",env:"production"},document.body.append(a)
                      }if(t.data&&"CALCONIC_UPDATE_HEIGHT"===t.data.action){
                      var s=document.querySelector('iframe[src="https://app.calconic.com/api/embed/calculator/'+t.data.payload.id+'"]');
                      if(s){s.height=t.data.payload.height}}
                    });
                  })();
                </script>
  
  
            
          </div>
        </div>
      </div>
    </div>
  
    
  </section>
  
  
  {% endif %}
  
  {% schema %}
  {
    "name": "Boat Calculator",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_elcat_landing_calculator_section",
        "label": "Show Elcat ROI Calculator",
        "default": false
      }
    ],
    "presets": [
    {
      "name": "Boat Calculator"
    }
  ]
  }
  {% endschema %}
  
