{% if section.settings.show_elcat_landing_form_section == true %}

  <section class="form_sec" id="formsec">
  
    <div class="body-width">
            
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "45520561",
        formId: "6b287153-7dde-4c5d-bbec-ace8e948ca39"
      });
    </script>
    </div>
  
    
  </section>
  
  
  {% endif %}
  
  {% schema %}
  {
    "name": "Boat Form",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_elcat_landing_form_section",
        "label": "Show Form Section",
        "default": false
      }
    ],
    "presets": [
    {
      "name": "Boat Form"
    }
  ]
  }
  {% endschema %}
  
