<div data-rebuy-id="143973" data-rebuy-shopify-product-ids="{{ product.id }}"></div>

{% schema %}
  {
    "name": "Bundle Grid",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Heading"
      },

      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Bundle Grid",
        "category": "Custom"
      }
    ]
  }
{% endschema %}