<style>
  .bundle-widget .rebuy-product-checkbox {
    display: none
  }
  .rebuy-button {
    border-radius: 50px !important
  }

  .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__images {
    margin: 0
  }

</style>


<div class="flex flex-col gap-12 lg:flex-row body-width">

  {% comment %} Original Solar Kitchen {% endcomment %}
  <div class="br bg-contrast-lower px-12 pt-12">
    <div class="flex gap-6 items-center">
      <h3>Original Solar Kitchen</h3> <div class="product-badge">Bundle</div>
    </div>
    <div class="bundle-widget" data-rebuy-id="144854" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
  </div>

    {% comment %} Solar Kitchen Pro  {% endcomment %}
    <div class="br bg-contrast-lower px-12 pt-12">
      <div class="flex gap-6 items-center">
        <h3>Solar Kitchen Pro </h3> <div class="product-badge">Bundle</div>
      </div>
      <div class="bundle-widget" data-rebuy-id="144766" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
    </div>


    {% comment %} Grid  {% endcomment %}
    <div class="br bg-contrast-lower px-12 pt-12">
      <div class="flex gap-6 items-center">
        <h3>Grid  </h3> <div class="product-badge">Bundle</div> <div class="product-badge product-badge--ghost">Best Value</div>
      </div>
      <div class="bundle-widget" data-rebuy-id="143973" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
    </div>

</div>

{% schema %}
  {
    "name": "Bundles Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Heading"
      }
    ],
    "presets": [
      {
        "name": "Bundles Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}