<!-- product-nav.liquid -->

<style>
  #product-nav {
    background-color: var(--color-contrast-higher);
    border-radius: 20px 20px 0 0;
  }
</style>

{% if section.settings.product_reference != blank %}
  

  {% assign product = all_products[section.settings.product_reference ] %}
  <div id="product-nav" class="hidden fixed inset-x-0 bottom-0 shadow-md z-50 body-width">
    <div class="content-width flex justify-between items-center p-4">
      <div class="product-nav__title">
        <span class="h3 text-white">{{ product.title }}</span>
      </div>
      <div class="product-nav__details flex items-center gap-12">
        <div class="flex items-center">
          <p class="product-nav__price mr-4 text-white">From </p>
          <p class="h3 whitespace-nowrap text-white">{{ product.price | money }}</p>
        </div>

        <a href="{{ product.url }}" class="btn bg-primary text-white px-6 py-2">Buy the {{ product.title }}</a>
      </div>
    </div>
  </div>




<script>
  document.addEventListener('DOMContentLoaded', function() {
    const productNav = document.getElementById('product-nav');
    const heroSection = document.querySelector('.product-hero');
    const overviewSection = document.querySelector('.product-overview');

    function onScroll() {
      const heroBottom = heroSection ? heroSection.getBoundingClientRect().bottom : 0;
      const overviewBottom = overviewSection ? overviewSection.getBoundingClientRect().bottom : 0;
      const threshold = heroBottom || overviewBottom;

      if (window.scrollY > threshold) {
        productNav.classList.remove('hidden');
      } else {
        productNav.classList.add('hidden');
      }
    }

    window.addEventListener('scroll', onScroll);
  });
</script>

{% endif %}

{% schema %}
{
  "name": "Product Navigation",
  "settings": [
          {
            "type": "product",
            "id": "product_reference",
            "label": "Select a product"
          }
  ],
  "presets": [{"name": "Product Navigation"}]
}
{% endschema %}