<section class="repeatable-links body-width flex flex-col justify-center items-center pt-16">
  <div class="flex flex-col items-start mx-auto px-4 ">
    {% for block in section.blocks %}
      <div class="flex items-center space-x-4 mb-4">
        {% if block.settings.image %}
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.link_title }}" style="width: 22px; height: 16px;">
        {% endif %}
        <a href="{{ block.settings.link_url }}" class="">{{ block.settings.link_title }}</a>
      </div>
    {% endfor %}
  </div>
</section>




{% schema %}
  {
    "name": "Repeatable Links",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "link",
        "name": "Link Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title",
            "default": "Enter title"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Repeatable Links",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  
  