:root {
  --color-primary: #298CCB;
  --color-bg: #F1F1F1;
  --color-primary-light: #D9E7F2;
  --color-contrast-lower: #E5E7EB;
  --color-contrast-higher: #070F1E;
  --body-width:1600px
}


.tw-grid {
  display: grid;
}

.color-bg {
  color: var(--color-bg)
}

.bg-primary {
  background-color: var(--color-primary);
}

.br {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}


.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px; /* Width of the overlay */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  /* Use your own color and opacity */
  display: block !important;
  z-index: 2;
}

.body-width  {
  margin: 0 2rem;
}

.content-width {
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-width: 750px) {
.content-width {
  padding-left: 1em;
  padding-right: 1em;
}
}

.copy-width {
  max-width: 430px;
}



/* Color
============== */
.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-contrast-lower {
  background-color: var(--color-contrast-lower);
}

.text-white {
  color: var(--color-bg) !important
}

/* Typography 
===================*/


@font-face {
  font-family: "Cera Pro Regular";
  src: url("{{ 'Cera Pro Regular.ttf' | asset_url }}") format("truetype");
}
@font-face {
  font-family: "Cera Pro Medium";
  src: url("{{ 'Cera Pro Medium.ttf' | asset_url }}") format("truetype");
}



@import url("//hello.myfonts.net/count/39f5e2");

@font-face {
  font-family: "cp";
  src: url("39F5E2_5_0.eot");
  src: url("39F5E2_5_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_5_0.woff2") format("woff2"),
    url("39F5E2_5_0.woff") format("woff"),
    url("39F5E2_5_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "cp";
  src: url("39F5E2_5_0.eot");
  src: url("39F5E2_5_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_5_0.woff2") format("woff2"),
    url("39F5E2_5_0.woff") format("woff"),
    url("39F5E2_5_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "cp";
  src: url("39F5E2_6_0.eot");
  src: url("39F5E2_6_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_6_0.woff2") format("woff2"),
    url("39F5E2_6_0.woff") format("woff"),
    url("39F5E2_6_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cp";
  src: url("39F5E2_9_0.eot");
  src: url("39F5E2_9_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_9_0.woff2") format("woff2"),
    url("39F5E2_9_0.woff") format("woff"),
    url("39F5E2_9_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body, p, a, li {
  font-family: 'Cera Pro Regular' !important;
  letter-spacing: -0.03em;
  color: var(--color-contrast-higher)
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5, a, .header__menu-item {
  font-family: 'Cera Pro Medium' !important;
  letter-spacing: -0.03em;
  color: var(--color-contrast-higher)
}

h1, .h1 {
font-family: "Cera Pro Medium";
font-size: 70px;
font-style: normal;
line-height: 62px; /* 83.705% */
letter-spacing: -4.2px;
}

@media screen and (max-width: 750px) {
h1, .h1 {
  font-size: 50px;
  font-style: normal;
  line-height: 49.9px; /* 99.8% */
  letter-spacing: -2.5px;
}
}

h2, .h2 {
  font-size: 60px;
  line-height: 56.9px; /* 94.833% */
  letter-spacing: -2px;
}

@media screen and (max-width: 750px) {
  h2, .h2 {
    font-size: 38px;
    line-height: 29.9px; /* 78.684% */
    letter-spacing: -1.9px;
  }
  }

  h3, .h3 {
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 37.5px; /* 120.968% */
    letter-spacing: -1.55px;
  }
  
  @media screen and (max-width: 750px) {
    h3, .h3 {
      font-size: 20px;
      line-height: 25px; /* 125% */
      letter-spacing: -1px;
    }
    }

    h4, .h4{
      font-size: 25px;
      line-height: 30px; /* 120% */
    }
    
    @media screen and (max-width: 750px) {
      h4, .h4 {
        font-size: 18px;
        line-height: 22px; /* 125% */
      }
      }
  

  

/* BUTTONS 
===============*/

.btn, .customer button, .button  {
  background: var(--color-primary);
  color: var(--color-bg);
  border-radius: 50px;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.dark-theme.btn {
  background: var(--color-bg);
  color: var(--color-contrast-higher);
}


.dark-theme.btn svg path {
  stroke: var(--color-contrast-higher);
}

.btn svg, .custom-arrow {
  transition: transform 0.3s ease-in-out;
}

.btn:hover svg, .custom-arrow:hover  {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}


.btn--ghost {
  border: 1px solid var(--color-contrast-higher) !important;
  background-color: transparent;
  color: var(--color-contrast-higher);
  }
  .btn--ghost.active {
    background-color: var(--color-primary);
  }
  .btn--ghost svg path {
    stroke: var(--color-contrast-higher) !important;
  }