/* COLOR 
============== */
:root {
  --color-primary: #298CCB;
  --color-bg: #f1f1f1;
  --color-primary-light: #D9E7F2;
  --color-contrast-low: #D0D5DE;
  --color-contrast-lower: #E5E7EB;
  --color-contrast-higher: #070F1E;
  --color-contrast-medium: #818CA2;
  --body-width:1600px
}



.bg-transparent {
  background-color: transparent !important;
}
.bg-primary {
  background-color: var(--color-primary);
}

.color-bg {
  color: var(--color-bg)
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-contrast-lower {
  background-color: var(--color-contrast-lower);
}

.text-white {
  color: var(--color-bg) !important
}

.color-contrast-medium {
  color: var(--color-contrast-medium)
}



/* LAYOUT 
============== */
body {
  background-color: var(--color-bg) !important;
}
.tw-grid {
  display: grid;
}

.br {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  overflow: hidden;
}


.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px; /* Width of the overlay */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  /* Use your own color and opacity */
  display: block !important;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
.overlay-bottom {
  height: 650px; /* Width of the overlay */
}
}

.body-width  {
  margin: 0 2rem;
}
@media screen and (max-width: 750px) {
  .body-width  {
    margin: 0 1rem;
  }
}
.content-width {
  padding-left: 2em;
  padding-right: 2em;
}

@media screen and (max-width: 750px) {
.content-width {
  padding-left: 1em;
  padding-right: 1em;
}
}

.copy-width {
  max-width: 430px;
}



/* Color
============== */

/* Typography 
===================*/


@font-face {
  font-family: "Cera Pro Regular";
  src: url("{{ 'Cera Pro Regular.ttf' | asset_url }}") format("truetype");
}
@font-face {
  font-family: "Cera Pro Medium";
  src: url("{{ 'Cera Pro Medium.ttf' | asset_url }}") format("truetype");
}



@import url("//hello.myfonts.net/count/39f5e2");

@font-face {
  font-family: "cp";
  src: url("39F5E2_5_0.eot");
  src: url("39F5E2_5_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_5_0.woff2") format("woff2"),
    url("39F5E2_5_0.woff") format("woff"),
    url("39F5E2_5_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "cp";
  src: url("39F5E2_5_0.eot");
  src: url("39F5E2_5_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_5_0.woff2") format("woff2"),
    url("39F5E2_5_0.woff") format("woff"),
    url("39F5E2_5_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "cp";
  src: url("39F5E2_6_0.eot");
  src: url("39F5E2_6_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_6_0.woff2") format("woff2"),
    url("39F5E2_6_0.woff") format("woff"),
    url("39F5E2_6_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cp";
  src: url("39F5E2_9_0.eot");
  src: url("39F5E2_9_0.eot?#iefix") format("embedded-opentype"),
    url("39F5E2_9_0.woff2") format("woff2"),
    url("39F5E2_9_0.woff") format("woff"),
    url("39F5E2_9_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body, p, a, li {
  font-family: 'Cera Pro Regular' !important;
  letter-spacing: -0.03em;
  color: var(--color-contrast-higher)
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5, a, .header__menu-item {
  font-family: 'Cera Pro Medium' !important;
  letter-spacing: -0.03em;
  color: var(--color-contrast-higher)
}

h1, .h1 {
font-family: "Cera Pro Medium";
font-size: 70px;
font-style: normal;
line-height: 62px; /* 83.705% */
letter-spacing: -4.2px;
}

@media screen and (max-width: 750px) {
h1, .h1 {
  font-size: 50px;
  font-style: normal;
  line-height: 49.9px; /* 99.8% */
  letter-spacing: -2.5px;
}
}

h2, .h2 {
  font-size: 60px;
  line-height: 56.9px; /* 94.833% */
  letter-spacing: -2%;
}

@media screen and (max-width: 750px) {
  h2, .h2 {
    font-size: 38px;
    line-height: 29.9px; /* 78.684% */
    letter-spacing: -1.9px;
  }
  }

  h3, .h3 {
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 37.5px; /* 120.968% */
    letter-spacing: -1.55px;
  }
  
  @media screen and (max-width: 750px) {
    h3, .h3 {
      font-size: 20px;
      line-height: 25px; /* 125% */
      letter-spacing: -1px;
    }
    }

    h4, .h4{
      font-size: 25px;
      line-height: 30px; /* 120% */
    }
    
    @media screen and (max-width: 750px) {
      h4, .h4 {
        font-size: 18px;
        line-height: 22px; /* 125% */
      }
      }
  
      .p {
        font-size: 1.6rem;
        font-weight: normal;
        font-family: 'Cera Pro Regular' !important;
        line-height: 2rem !important;
      }

  .text-small {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (max-width: 750px) {
    .text-small {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .text-xs {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (max-width: 750px) {
    .text-small {
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

/* BUTTONS 
===============*/
.product-badge {
  background-color: var(--color-contrast-higher);
  color: var(--color-bg);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0 1em;
  border-radius: 20px;
}

.product-badge--ghost {
  background-color: transparent;
  border: 1px solid var(--color-contrast-higher);
  color: var(--color-contrast-higher);
}


.btn, .customer button, .button  {
  background: var(--color-primary);
  color: var(--color-bg);
  border-radius: 50px;
  padding: .8em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  max-height: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.dark-theme.btn {
  background: var(--color-bg);
  color: var(--color-contrast-higher);
}


.dark-theme.btn svg path {
  stroke: var(--color-contrast-higher);
}

.btn svg, .custom-arrow {
  transition: transform 0.3s ease-in-out;
}

.btn:hover svg, .custom-arrow:hover  {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}


.btn--ghost {
  border: 1px solid var(--color-contrast-higher) !important;
  background-color: transparent;
  color: var(--color-contrast-higher);
  }
  .btn--ghost.active {
    background-color: var(--color-primary);
  }
  .btn--ghost svg path {
    stroke: var(--color-contrast-higher) !important;
  }

  button, .button {
    box-shadow: none !important;
  }

  .icon-remove {
    color: var(--color-contrast-higher)
  }

  /* PDP Gallery 
  ================ */


/* section-main-product.css | http://127.0.0.1:9292/assets/section-main-product.css?v=32826506163389487451711753891 */

@media screen and (min-width: 750px) {
  .product--thumbnail_slider .thumbnail-slider {
    /* flex-direction: column; */
  }
  .thumbnail-slider .thumbnail-list.slider--tablet-up {
    flex-direction: column;
  }
}

.thumbnail.global-media-settings img {
  border-radius: 20px;
  overflow: hidden;
}


.zz {
  position: absolute;
  height: auto;
  width: 380px;
  top: 1em;
  z-index: 999;
  left: 1em;
}

.product--thumbnail_slider .thumbnail-slider .slider-button {
  display: none !important;
}


.slider__slide img {
  border-radius: 20px;
  overflow: hidden;
}



.global-media-settings {

  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: 20px;
}




/* component-slider.css | http://127.0.0.1:9292/assets/component-slider.css?v=14039311878856620671711137493 */


media-gallery {
  aspect-ratio: 1 / 1;
}

.product-media-container.bg-transparent.media-type-image.media-fit-contain.global-media-settings.gradient.constrain-height {
  aspect-ratio: 1 / 1;
  margin: 0;
  width: 100%;
  height: 100%;
}

.product__media.media.media--transparent.br {
  width: 100%;
  height: 100%;
}

.thumbnail img {
  filter: brightness(.89);
  -webkit-filter: brightness(.86);
}


/* Cart
============ */
cart-drawer {
  display: none !important
}



/* Rebuy 
============ */
.rebuy-widget.widget-type-product-addon .rebuy-addon__item-image img {
  border-radius: 12px;
  filter: brightness(.91);
}



.rebuy-widget.widget-type-product-addon .rebuy-addon__item-checkbox .rebuy-checkbox-label .checkbox-input {
  width: 24px;
  height: 24px;
}

.rebuy-widget.widget-type-product-addon .rebuy-addon__item-checkbox .rebuy-checkbox-label .checkbox-input:checked {
  background: var(--color-primary);
}

.rebuy-checkbox::before, input[type="checkbox"][class="rebuy-checkbox"]::before, .rebuy-cart .rebuy-checkbox::before {
  transform: translate(-20%, -50%) !important;
  -webkit-transform: translate(-20%, -50%) !important;
  -moz-transform: translate(-20%, -50%) !important;
  -ms-transform: translate(-20%, -50%) !important;
  -o-transform: translate(-20%, -50%) !important;
}

.rebuy-widget.widget-type-product-addon .rebuy-addon__item-image {
  margin-left: .5em;
}

.rebuy-money.sale {
  color: var(--color-contrast-higher) !important;
  font-weight: 600;
}


.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image-item img {
  filter: brightness(.95);
  border-radius: 20px;
}

.rebuy-bundle__actions-price {
  text-align: left;
}

.primary-title {
  font-size: 16px;
  color: var(--color-contrast-higher) !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 750px) {
  .primary-title {
    font-size: 13px;
  }
}

/* Bundle */
.rebuy-bundle__items .rebuy-product-checkbox {
  display: none;
}

.rebuy-bundle__images {
  display: none !important;
}

product-info .rebuy-bundle__actions-buttons {
  width: 100% !important;
}